language: python
env:
    - COVERAGE=--with-coverage
python:
    - "2.7"
virtualenv:
    system_site_packages: true
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq python-scipy python-nose
    - sudo apt-get install python-pip
install:
    - pip install -r requirements.txt
    - sudo pip install coverage coveralls
    - python setup.py build_ext --inplace
script:
    - make test;
after_success:
    - coveralls
